---
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script src="./fediverse.js" type="module"></script>
	</head>
	<body>
        <article>
            <h1>するっとFediverseShare</h1>
            <section>
                <h2>usage</h2>
            </section>
		    <fediverse-share title="するっとFediverseShare"></fediverse-share>
        </article>
	</body>
</html>